div.ajax {
  width: 60%;
  margin:10px auto;
}

div.ajax div.disclaimer-container {
  margin-bottom: 15px;
  font-size: 12px;
}

li.drink-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

li.drink-item p {
  margin: 2px;
  font-size: 25px;
}

li.drink-item p.small-text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}